.CharacterRow {
    border: 3px solid black;
    border-radius: 10px;
    background-color: lightgray;
    padding: 5px;
    margin: 5px;
    color: white;
    background: url("/assets/wooden-panel.png") no-repeat;
}
.icon {
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}
.Name {
    font-size: 2rem;
}
.AC {
    background: url("/assets/ac.png") no-repeat;
    height: 4.2rem;
    width: 3.7rem;
    padding-top: .3rem;
    padding-left: .8rem;
    font-size: 2rem;
    color: black;
    font-weight: bold;
}
.Touch {
    background: url("/assets/touch.png") no-repeat;
    height: 4.2rem;
    width: 3.7rem;
    padding-top: 1.5rem;
    padding-left: .6rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: black;
}
.Flat {
    background: url("/assets/flat.png") no-repeat;
    height: 4.2rem;
    width: 3.7rem;
    padding-top: .5rem;
    padding-left: .7rem;
    font-size: 1.6rem;
}
.health-bar {
    height: 1.7rem;
    border: 2px solid black;
    border-radius: 10px;
}
.inc {
    color: lightgreen;
}
.dec {
    color: red;
}
