.rotation-container {
    background-image: url('/assets/wooden-panel.png');
    background-repeat: repeat-y;
    border-radius: 10px;
    border: 3px solid black;
}
.rotation-body {
    padding: 5px;
    border: 2px groove rgb(101, 67, 33);
    background: tan;
    margin: 15px;
}
